.upload-data {
  background-color: #222222; /* Dark background */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #ffffff; /* White */
  text-align: center;
}

.upload-data h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.upload-data form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-data input[type="file"] {
  display: none; /* Hide the default file input */
}

.upload-data label {
  padding: 10px 20px;
  background-color: #1e90ff; /* Dodger Blue */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid #1e90ff; /* Dodger Blue */
  transition: background-color 0.3s, transform 0.3s;
}

.upload-data label:hover {
  background-color: #0d47a1; /* Darker shade of Dodger Blue */
  transform: scale(1.05);
}

.upload-data button {
  padding: 10px 20px;
  background-color: #1e90ff; /* Dodger Blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  border: 2px solid #1e90ff; /* Dodger Blue */
  transition: background-color 0.3s, transform 0.3s;
}

.upload-data button:hover {
  background-color: #0d47a1; /* Darker shade of Dodger Blue */
  transform: scale(1.05);
}

.upload-data .file-name {
  margin-top: 10px;
  color: #cccccc; /* Lighter gray */
}

.error {
  color: red;
  margin-top: 10px;
}


  
  